<h1>Editing Request Selections</h1>

<%= render 'form' %>

<%= link_to 'Show', response_request_selection_path(@response, @request_selection)%> |
<%= link_to 'Back', response_request_selections_path(@response) %>
