<p id="notice"><%= notice %></p>

<p>
  <b>Language:</b>
  <%= @request_skill.language %>
</p>


<%= link_to 'Edit', edit_request_skill_path(@request_skill) %> |
<%= link_to 'Back', request_skills_path %>
