<p id="notice"><%= notice %></p>

<p>
  <b>Language:</b>
  <%= @desired_skill.language %>
</p>


<%= link_to 'Edit', edit_desired_skill_path(@desired_skill) %> |
<%= link_to 'Back', desired_skills_path %>
